@model MCO_Juryplattform.Login

@{
	ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h1>Ange Användaruppgifter</h1>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
	<div>
		<div>Användarnamn: </div>
		<div>@Html.TextBoxFor(m => m.UserName)</div>
	</div>

	<div>
		<div>Lösenord: </div>
		<div>@Html.PasswordFor(m => m.Password)</div>
	</div>
    <br />
	<div>
		<input type="submit" value="Logga in" class="btn btn-default" />
	</div>
	<div>
		@Html.ValidationSummary()
	</div>
}